<!-- Start Slider Area -->
<div class="slider__container slider--six" style="padding-bottom: {{ section.settings.section_padding_bottom }}px;">
  <div class="slider__activation__wrap owl-carousel owl-theme">
    {% assign i = 1 %}
    {% for block in section.blocks %}
    <div class="slide slider__fixed--height--2 bg__white">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="slider__content">
              <div class="slider__inner">
                {% if block.settings.slider_sup_title != '' %}
                <h4>{{ block.settings.slider_sup_title }} </h4>
                {% endif %}
                {% if block.settings.slider_title != '' %}
                <h1>{{ block.settings.slider_title }}  {% if block.settings.slider_title_highlight != '' %}<span class="text--theme">{{ block.settings.slider_title_highlight }}</span>{% endif %}</h1>
                {% endif %}
                {% if block.settings.slider_sub_title != '' %}
                <h3>{{ block.settings.slider_sub_title }}</h3>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% assign i = i | plus: 1 %}
    {% endfor %}
  </div>
</div>
<!-- Start Slider Area -->

<style>
  .slider--six .slider__content {
    padding-top: {{ section.settings.slider_text_padding_top }}px;
  }  
  .slider__fixed--height--2 {
    height: {{ section.settings.slider_height }}px;
  }
</style>

{% schema %}
  {
    "name": "Text Slider",
    "settings": [
		{
          "type": "text",
          "id": "slider_height",
          "label": "Slider Height",
          "default": "630",
          "info": "Defined in pixels. Do not add the 'px' unit."	
      	},
		{
          "type": "text",
          "id": "slider_text_padding_top",
          "label": "Slider Text Padding Top",
          "default": "95",
          "info": "Defined in pixels. Do not add the 'px' unit."	
      	},
		{
			"type": "header",
            "content": "Section Padding"
        },
		{
          "type": "text",
          "id": "section_padding_bottom",
          "label": "Padding Bottom",
          "default": "130",
          "info": "Defined in pixels. Do not add the 'px' unit."	
      	}
	],
	"blocks":[
		{
			"type": "slide",
			"name": "Slide",
			"settings": [
				{
					"type": "text",
					"id": "slider_sup_title",
					"label": "Sup Title",
					"default": "Sup Title"
				},
				{
					"type": "text",
					"id": "slider_title",
					"label": "Title",
					"default": "Slider Title"
				},
				{
					"type": "text",
					"id": "slider_title_highlight",
					"label": "Hilight Title",
					"default": "Highlight Text"
				},
				{
					"type": "text",
					"id": "slider_sub_title",
					"label": "Sub Title",
					"default": "Sub Title"
				}
			]
		}
	],
	"presets":[
		{
			"name": "Text Slider",
			"category": "slider",
			"blocks":[
				{
					"type": "slide"
				},
				{
					"type": "slide"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
