<!-- Start Login Register Area -->
<div class="htc__login__register bg__white ptb--130 pb--215" {% if settings.customer_page_bg %}style="background: rgba(0, 0, 0, 0) url({{ settings.customer_page_bg | img_url: 'master' }}) no-repeat scroll center center / cover ;"{% endif %}>
  <div class="{% if settings.wrapper_handle == 'wrapper_box' or settings.wrapper_handle == 'wrapper_box_2' %}container-fluid-custom{% elsif settings.header_style == 'header_three' %}container-fluid{% else %}container{% endif %}">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login__register__menu">
          <h2 class="login active">{{ 'customer.reset_password.title' | t }}</h2>
        </div>
      </div>
    </div>
    <!-- Start Login Register Content -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="htc__login__register__wrap">
          <!-- Start Single Content -->
          <div id="register" class="single__tabs__panel login">
            {% form 'reset_customer_password' %}

            {{ form.errors | default_errors }}

            <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">

            <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

            <div class="htc__login__btn mt--20 active-account">
              <button type="submit">{{ 'customer.reset_password.submit' | t }}</button>
            </div>

            {% endform %}
          </div>
          <!-- End Single Content -->
        </div>
      </div>
    </div>


    <!-- End Login Register Content -->
  </div>
</div>
<!-- End Login Register Area -->