<div class="row">
  <div class="{% unless section.settings.lg_width_footer %}footer__container{% endunless %} clearfix">
    <!-- Start Single Footer Widget -->
    <div class="col-md-4 col-lg-4 col-sm-6">
      <div class="ft__widget">
        <div class="ft__logo">
          {% if section.settings.logo_2 %}
          <a href="/"><img src="{{ section.settings.logo_2 | img_url: 'medium' }}" alt="logo"></a>
          {% else %}
          <a href="/">{{ shop.name }}</a>
          {% endif %}
        </div>
        <div class="footer__details">
          <p>{{ section.settings.footer_content }}</p>
        </div>
      </div>
    </div>
    <!-- End Single Footer Widget -->
    <!-- Start Single Footer Widget -->
    <div class="col-md-4 col-lg-5 col-sm-6 smt-30 xmt-30">
      <div class="ft__widget contact__us">
        <h2 class="ft__title">{{ section.settings.contact_us_title }}</h2>
        <div class="footer__inner">
          <p>{{ section.settings.contact_information }}</p>
        </div>
      </div>
    </div>
    <!-- End Single Footer Widget -->
    <!-- Start Single Footer Widget -->
    <div class="col-md-4 col-lg-3 col-sm-6 smt-30 xmt-30">
      <div class="ft__widget">
        <h2 class="ft__title">{{ section.settings.follow_us_title }}</h2>
        <ul class="social__icon">
          {% include 'social-link' %}
        </ul>
      </div>
    </div>
    <!-- End Single Footer Widget -->
  </div>
</div>
<!-- Start Copyright Area -->
{% if section.settings.footer_bottom_enable %}
<div class="htc__copyright__area">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="copyright__inner">
        <div class="copyright">
          <p>{{ section.settings.copy_ritht_text }}</p>
        </div>
        <ul class="footer__menu">
          {% assign footer_menu_1 = section.settings.footer_menu_1_handle %}
          {% for link in linklists[footer_menu_1].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- End Copyright Area -->