{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

{% assign variant = product.selected_or_first_available_variant %}

{% if product.available %}
{% assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" %}
{% endif %} 

<div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
  <div class="list__thumb">
    <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'grande' }}" alt=""/></a>
  </div>
</div>
<div class="col-md-8 col-lg-9 col-sm-8 col-xs-12">
  <div class="list__details__inner">
    <h2><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>
    {%- if product.description contains '[short_description]' -%} 
    {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
    {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
    {{ short_description_final }}
    {%- else -%}
    {{ product.description | strip_html | truncatewords: 35 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first }}
    {%- endif -%}
    <span class="product__price">{{ product.price | money }}</span>
    {% if product.compare_at_price_max > product.price %}
    <span class="product__price old__price">{{ product.compare_at_price | money }}</span>
    {% endif %}
    <div class="shop__btn">
      <a class="htc__btn cart__menu" href="javascript:void(0);" onclick="{{ func }}; return false;" title="{{ 'products.product.add_to_cart' | t }}"><span class="ti-shopping-cart"></span>Add to Cart</a>
    </div>
  </div>
</div>
