{% if settings.social_icon_1_name != '' %}
<li><a href="{{ settings.socila_icon_1_link }}" target="_blank" title="{{ settings.social_icon_1_name | capitalize }}"><i class="zmdi zmdi-{{ settings.social_icon_1_name }}"></i></a></li>
{% endif %}
{% if settings.social_icon_2_name != '' %}
<li><a href="{{ settings.socila_icon_2_link }}" target="_blank" title="{{ settings.social_icon_2_name | capitalize }}"><i class="zmdi zmdi-{{ settings.social_icon_2_name }}"></i></a></li>
{% endif %}
{% if settings.social_icon_3_name != '' %}
<li><a href="{{ settings.socila_icon_3_link }}" target="_blank" title="{{ settings.social_icon_3_name | capitalize }}"><i class="zmdi zmdi-{{ settings.social_icon_3_name }}"></i></a></li>
{% endif %}

{% if settings.social_icon_4_name != '' %}
<li><a href="{{ settings.socila_icon_4_link }}" target="_blank" title="{{ settings.social_icon_4_name | capitalize }}"><i class="zmdi zmdi-{{ settings.social_icon_4_name }}"></i></a></li>
{% endif %}

{% if settings.social_icon_5_name != '' %}
<li><a href="{{ settings.socila_icon_5_link }}" target="_blank" title="{{ settings.social_icon_5_name | capitalize }}"><i class="zmdi zmdi-{{ settings.social_icon_5_name }}"></i></a></li>
{% endif %}

{% if settings.social_icon_6_name != '' %}
<li><a href="{{ settings.socila_icon_6_link }}" target="_blank" title="{{ settings.social_icon_6_name | capitalize }}"><i class="zmdi zmdi-{{ settings.social_icon_6_name }}"></i></a></li>
{% endif %}

{% if settings.social_icon_7_name != '' %}
<li><a href="{{ settings.socila_icon_7_link }}" target="_blank" title="{{ settings.social_icon_7_name | capitalize }}"><i class="zmdi zmdi-{{ settings.social_icon_7_name }}"></i></a></li>
{% endif %}